.choices {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    @include mobile {
        width: calc(100vw - 70px);
    }
    > .btn {
        margin-bottom: 35px;
        padding: 25px;
        width: calc(50% - 17.5px);
        height: 125px;
        background-color: $primary;
        @include shadow($secondary);
        @include round;
        @include fade;
        @include desktop {
            &:hover {
                background-color: $secondary;
            }
        }
        @include mobile {
            width: 100%;
        }
    }
    > .guessed {
        background-color: $accent;
        color: $primary;
        &:hover {
            background-color: $accent;
        }
    }
}