$aspect-ratio: 0.75;

.flag {
    margin-bottom: 35px;
    width: 500px;
    height: calc($aspect-ratio * 500px);
    @include shadow($secondary);
    @include round;
    @include mobile {
        width: calc(100vw - 70px);
        height: calc($aspect-ratio * (100vw - 70px));
    }
}