$font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$primary: white;
$secondary: lightgrey;
$tertiary: #101010;
$accent: crimson;
$ts: all 250ms linear;
$shadow: 5px;
$radius: 10px;
$desktop: 1000px;
$tablet: 750px;
$mobile: 500px;