.home {
    width: 100%;
    padding: 35px;
    display: flex;
    justify-content: center;
    > .container {
        width: 100%;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        > .header {
            margin-bottom: 35px;
        }
        > .stats {
            margin-bottom: 35px;
            width: 100%;
            height: 140px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            border-radius: $radius;
            box-shadow: $shadow $secondary;
            > .item {
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                > .value {
                    color: $accent;
                }
            }
        }
        > .flag {
            $aspect-ratio: calc(3 / 4);
            width: 100%;
            height: calc($aspect-ratio * (100vw - 70px));
            max-height: calc($aspect-ratio * 500px);
            border-radius: $radius;
            box-shadow: $shadow $secondary;
        }
        > .choices {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            > .choice {
                margin-top: 35px;
                padding: 25px;
                width: 100%;
                height: 140px;
                color: black;
                background-color: $primary;
                border-radius: $radius;
                box-shadow: $shadow $secondary;
                @include breakpoint(md) {
                    width: calc((100% - 35px) / 2);
                    &:hover {
                        box-shadow: $shadow $accent;
                        color: $accent;
                    }
                }
                &.chosen {
                    background-color: $accent;
                    color: $primary;
                    box-shadow: $shadow $accent;
                    &:hover {
                        background-color: $accent;
                    }
                }
            }
        }
    }
}