@use 'variables' as *;

@mixin flex($direction, $align, $justify) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}
@mixin round {
    border-radius: 9px;
}
@mixin desktop {
    @media (min-width: ($units * 68)) {
        @content;
    }
}
@mixin mobile {
    @media (max-width: ($units * 68)) {
        @content;
    }
}